<h1>Contexto</h1>

Bob ha iniciado su propia compañía de teléfonos móviles. Quiere competir ferozmente con grandes compañías como Apple, Samsung, etc.

No sabe cómo estimar el precio de los móviles que su compañía crea. En este competitivo mercado de teléfonos móviles no se pueden simplemente asumir las cosas. Para resolver este problema, ha recopilado datos de ventas de teléfonos móviles de varias compañías.

Bob quiere encontrar alguna relación entre las características de un teléfono móvil (por ejemplo: RAM, Memoria Interna, etc.) asi que necesita tu ayuda para resolver este problema.

En este problema Bob no requiere  que se prediga el precio exacto, sino un rango de precios que indique cuán alto es el precio.

<h1>Analisis descriptivo</h1>

paso1 carga de las librerias

In [13]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import sklearn.metrics as metrics
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import seaborn as sns

paso2 carga y visualizacion de la base de datos

In [14]:
import pandas as pd
archivo_csv = 'C:/Users/Usuario/Music/informe/informetoma2/telfonico.csv' 

df = pd.read_csv(archivo_csv)
print(df.head())

   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]

In [15]:
df.shape

(2000, 21)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.3 KB

**battery_power:** La capacidad de la batería del teléfono, medida en mAh (miliamperios-hora).


**blue:** Indica si el teléfono tiene capacidad Bluetooth (1 si tiene, 0 si no).


**clock_speed:** La velocidad del procesador del teléfono en GHz (gigahercios).


**dual_sim:** Indica si el teléfono tiene capacidad para dos tarjetas SIM (1 si tiene, 0 si no).


**fc:** La cantidad de megapíxeles de la cámara frontal del teléfono.


**four_g:** Indica si el teléfono es compatible con redes 4G (1 si es compatible, 0 si no).


**int_memory:** La cantidad de memoria interna del teléfono, medida en GB (gigabytes).


**m_dep:** La profundidad del teléfono en cm (centímetros).


**mobile_wt:** El peso del teléfono en gramos.


**n_cores:** El número de núcleos del procesador del teléfono.


**pc:** La cantidad de megapíxeles de la cámara principal del teléfono.


**px_height:** La altura de resolución de la pantalla del teléfono en píxeles.


**px_width:** La anchura de resolución de la pantalla del teléfono en píxeles.


**ram:** La cantidad de memoria RAM del teléfono, medida en MB (megabytes).


**sc_h:** La altura de la pantalla del teléfono en cm (centímetros).


**sc_w:** La anchura de la pantalla del teléfono en cm (centímetros).


**talk_time:** La duración de la batería en tiempo de conversación en horas.


**three_g:** Indica si el teléfono es compatible con redes 3G (1 si es compatible, 0 si no).


**touch_screen:** Indica si el teléfono tiene pantalla táctil (1 si tiene, 0 si no).


**wifi:** Indica si el teléfono tiene capacidad de conexión Wi-Fi (1 si tiene, 0 si no).


**price_range:** El rango de precio del teléfono, que podría ser un valor discreto o categoría que indica diferentes niveles de precio (por ejemplo, bajo, medio, alto).

In [17]:
df.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000